body{
    background-color: #f4f1ec;
    color: black;
    min-height: 100vh;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
.meny{
    display: flex;
    border: solid 2px black;
    background-color: #000000;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    height: 6rem;
    box-sizing: border-box;
}
.meny a{
    color: white;
    font-size: 2rem;
    text-decoration: none;
}

@media (max-width: 600px){
    .meny{
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 1rem 0;
    }
    .meny a{
        font-size: 1.5rem;

    }
}